# Base compose file. Merge this with one of compose.dev.yaml of compose.prod.yaml to produce a running application
services:
  postgres:
    image: postgres:18-alpine
    restart: always
    user: &db_root_user postgres
    secrets:
      - db_root_password
      - db_name
    volumes:
      - db-data:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_USER: *db_root_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_root_password
      POSTGRES_DB_FILE: /run/secrets/db_name
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    expose:
      - &db_port 5432
    healthcheck:
      test: pg_isready --dbname $(cat /run/secrets/db_name) || exit 1
      interval: 5s
      timeout: 5s
      retries: 10
  scamplers-api:
    environment:
      PORT: &api_port 8000
      DB_HOST: postgres
      DB_PORT: *db_port
    expose:
      - *api_port
    secrets:
      - source: db_root_user
        uid: "10001"
      - source: db_root_password
        uid: "10001"
      - source: api_db_password
        uid: "10001"
      - source: db_name
        uid: "10001"
      - source: initial_data
        uid: "10001"
    volumes:
      - logs:/logs
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: curl http://localhost:8000/api/health || exit 1
      interval: 5s
      start_period: 10s
      start_interval: 1s
      timeout: 5s
      retries: 10
  scamplers-ui:
    environment:
      BASE_URL: ${SCAMPLERS_PUBLIC_URL}
      IN_DOCKER: true
      PORT: &ui_port 8000
    depends_on:
      scamplers-api:
        condition: service_healthy
    healthcheck:
      test: curl http://localhost:8000/health || exit 1
      interval: 5s
      start_period: 5s
      start_interval: 1s
      timeout: 1s
      retries: 5
    secrets:
      - source: ui_db_password
        uid: "10001"
      - source: microsoft_entra_client_id
        uid: "10001"
      - source: microsoft_entra_client_secret
        uid: "10001"
      - source: microsoft_entra_tenant
        uid: "10001"
  caddy:
    image: caddy:2-alpine
    environment:
      PUBLIC_URL: ${SCAMPLERS_PUBLIC_URL}
      API_HOST: scamplers-api
      API_PORT: *api_port
      UI_HOST: scamplers-ui
      UI_PORT: *ui_port
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/caddy:/etc/caddy
      - caddy-data:/data
      - caddy-config:/config
    depends_on:
      scamplers-ui:
        condition: service_healthy
    secrets:
      - tls_certificate
      - tls_key
volumes:
  db-data:
  logs:
  caddy-data:
  caddy-config:
secrets:
  db_root_password:
    environment: SCAMPLERS_DB_ROOT_PASSWORD
  api_db_password:
    environment: SCAMPLERS_API_DB_PASSWORD
  db_name:
    environment: SCAMPLERS_DB_NAME
  microsoft_entra_client_id:
    environment: SCAMPLERS_MICROSOFT_ENTRA_CLIENT_ID
  microsoft_entra_client_secret:
    environment: SCAMPLERS_MICROSOFT_ENTRA_CLIENT_SECRET
  microsoft_entra_tenant:
    environment: SCAMPLERS_MICROSOFT_ENTRA_TENANT
  initial_data:
    file: ${SCAMPLERS_INITIAL_DATA_PATH}
