name: Build
on:
  pull_request:
    paths:
      - "**/*.rs"
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build_scamplers-api
        run: |
          VERSION=$(cargo metadata | jq --raw-output '.packages[] | select(.name == "scamplers-api").version')
