name: Check Rust Code
on:
  push:
  pull_request:
    paths:
      - "**/*.rs"
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Install diesel
        run: cargo install diesel_cli --no-default-features --features postgres

      - name: Lint
        run: cargo clippy --workspace

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Install nightly toolchain
        run: rustup component add --toolchain nightly-2025-11-05 rustfmt

      - name: Format
        run: cargo +nightly-2025-11-05 fmt -- --check

  test:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings --cfg tracing_unstable

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Install diesel
        run: cargo install diesel_cli --no-default-features --features postgres

      - name: Test
        run: cargo test --workspace --all-features
