name: Check Rust Code
on:
  pull_request:
    paths:
      - "**/*.rs"
    branches:
      - main

jobs:
  check_scamplers-schema:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Install diesel-cli
        run: cargo install diesel_cli --no-default-features --features postgres

      - name: Check schema
        working-directory: scamplers-schema
        run: diesel setup --database-url postgres://postgres@localhost/postgres --locked-schema

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Lint
        run: RUN_DIESEL_CLI=false cargo clippy --workspace

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Install nightly toolchain
        run: rustup component add --toolchain nightly-2025-11-10 rustfmt # This is updated weekly-ish

      - name: Format
        run: cargo +nightly-2025-11-10 fmt -- --check

  test:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings --cfg tracing_unstable

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache cargo files
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Build
        run: RUN_DIESEL_CLI=false cargo build --tests

      - name: Test
        run: RUN_DIESEL_CLI=false cargo test --workspace --all-features
