name: Check TypeScript Code
on:
  pull_request:
    paths:
      - scamplers-ui/**
      - json-schema/**
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Lint
        run: ./scripts/pre-commit/lint_scamplers-ui.sh

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Unit test
        run: deno test scamplers-ui
